@model Teste2.Models.Copia

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Template.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Copia</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.filme.Titulo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.filme.Titulo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.estado.Designacao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.estado.Designacao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Disponibilidade)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Disponibilidade)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.CopiaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
